<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnc.daq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DaqActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- 注册服务 -->
        <service android:name="com.cnc.mainservice.DataService" ></service>
        
        <service android:name=".daqService" ></service>
        
        <service android:name="com.cnc.mainservice.DelMsgService"></service>

        <!-- 注册广播接收者，监听启动广播 -->
        <receiver android:name="com.cnc.broadcast.BootBroadcastReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

       <!--  android:label="@string/title_activity_splash"  -->
        <activity
            android:name=".SplashActivity"                     
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".QuickStartActivity" > </activity>
         <activity android:name="com.cnc.daq.MainActivity"></activity>
       
    </application>

</manifest>
